@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados podem ser adicionados abaixo */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
