@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados podem ser adicionados abaixo */
#aboutSection {
  @apply bg-[#022440] py-6 px-4 grid md:grid-cols-6 lg:grid-cols-12 gap-5 md:gap-6 lg:gap-14 justify-items-center text-[#eeeeee] max-w-[1728px]
}
#aboutSection .badge {
  @apply text-xs text-center md:text-sm rounded-3xl w-full py-2 px-4 bg-[#394C67] text-[#FED674EE] border border-[#FED674EE];
}
#aboutSection .stat {
  @apply flex flex-col gap-2 rounded-xl md:col-span-2 lg:col-span-4 lg:bg-[#2B3A4F] lg:py-[18px] lg:px-5;
}
#aboutSection .card {
  @apply flex flex-col flex-shrink-0 items-center justify-center gap-2 border rounded-3xl p-1.5 lg:px-5 lg:py-8 w-[297px] max-h-[205px];
}
@media (min-width: 1024px) {
  #aboutSection .badge {
    @apply text-[#28EEEDEE] border-[#28EEEDEE];
  }
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
